html {
    font-family: 'Courier New', Courier, monospace;
    background-color: skyblue;
}

.Header {
    display: flex;
    background-color: white;
    padding: 20px;
    justify-content: space-between;
}

.headerText {
    margin-left: 200px;
    margin-right: 200px;
    white-space: nowrap;
}

#Click {
    font-size: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    background-color: skyblue;
    border: 0px;
}

#Click:hover {
    color: white;
}

